<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script>
        a=90
        b=900
        c=990
        d=80

        let getval= a>b?"A is big":"B is big"
        let getval2 = a>b?(a>c?"A is big":"C is big"):(b>c?"B is big":"C is big")
        console.log(getval);
        console.log(getval2)
        

        // if(a>b)
        //     {
        //         if(a>c){
        //         console.log("A is grreater than B,c");
        //         }
        //         else{
        //             console.log("C is grreater than A, b");  
        //         } 
        //     }
        //     else{
            //     if(b>c){
            //         console.log("B is grreater than A,C"); 
            //     }
            //     else
            //     {
            //         console.log("C is grreater than A, B"); 
            //     }
              
            // }
    </script>

</head>
<body>

    
</body>
</html>