<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <img src="assets/images/iStock-1239603674.jpg" width="700" onerror="this.src='assets/images/cat.png'">
    
    <img src="https://m.media-amazon.com/images/I/71oDTJru50L._SX679_.jpg">

    <video width="400" controls muted autoplay loop poster="assets/images/cat.png">
        <source src="assets/video/video1.mov" type="video/mp4">
    </video>

    <audio controls muted autoplay>
        <source src="assets/audio/a1.m4a" type="audio/mp3">
    </audio>

    
    <i class="fa-solid fa-house"></i>
    
    <i class="fa-brands fa-html5"></i>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/rpG3kY89k2c?si=yyGzkxfry8fXwPYz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>


    <iframe  width="560" height="715" src="https://internship.codescaler.com/"></iframe>

    <img src="assets/images/home.png" alt="">


    <table border="2" width="600" cellpadding="10" cellspacing="0">
       <caption>Student table</caption>
       <tr>
        <th colspan="4">Student table</th>
       </tr>
        <tr>
            <th>Roll No</th>
            <th>Class</th>
            <th>Name</th>
            <th>Mark</th>
        </tr>
        <tr>
            <td>1002</td>
            <td>MCA</td>
            <td>Vijay</td>
            <td>90%</td>
        </tr>
        <tr>
            <td>1002</td>
            <td>MCA</td>
            <td>Vijay</td>
            <td>90%</td>
        </tr>
        <tr>
            <td>1002</td>
            <td>MCA</td>
            <td>Vijay</td>
            <td>90%</td>
        </tr>
        <tr>
            <td>1002</td>
            <td>MCA</td>
            <td>Vijay</td>
            <td>90%</td>
        </tr>
        <tr>
            <td>1002</td>
            <td>MCA</td>
            <td>Vijay</td>
            <td>90%</td>
        </tr>

    </table>


</body>
</html>