<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <style>
            .container{
                width: 90%px;
                height: 800px;
                border: 2px solid gray;
            }
            .box{
                background-color: cadetblue;
                padding: 20px;
                margin: 10px;
            }

        </style>
</head>
<body>
    <div class="container">
        <div class="box">
            box 1
        </div>
        <div class="box">
            box 1
        </div>
        <div class="box">
            box 1
        </div>
        <div class="box">
            box 1
        </div>
        <div class="box">
            box 1
        </div>
        <div class="box">
            box 1
        </div>
        <div class="box">
            box 1
        </div>
        <div class="box">
            box 1
        </div>
        <div class="box">
            box 1
        </div>
    </div>
    
</body>
</html>