<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
</head>
<body>

        <img src="https://d502jbuhuh9wk.cloudfront.net/logos/6626668ac4fff6266055a815.png?v=4" width="600"  onerror="this.src='assets/images/2.png'">

        <img src="https://media.istockphoto.com/id/517188688/photo/mountain-landscape.jpg?s=612x612&w=0&k=20&c=A63koPKaCyIwQWOTFBRWXj_PwCrR4cEoOw2S9Q7yVl8=">

        <img src="https://plus.unsplash.com/premium_photo-1673292293042-cafd9c8a3ab3?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">

        <video width="500" controls  muted  loop poster="/assets/images/cat.png">
            <source src="/assets/video/IMG_6698.mov" type="video/mp4">
        </video>

        <audio controls>
            <source src="/assets/video/IMG_6698.mov" type="audio/mp3">
        </audio>

        <audio controls>
            <source src="/assets/audio/a1.m4a" type="audio/mp3">
        </audio><br>
        <br>
        <marquee scrollamount="20" direction="right" behavior="alternate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis blanditiis modi ea doloremque, odio fugiat? Eaque praesentium quis quos deserunt nam, repellendus, voluptatum corrupti sed commodi repellat temporibus nostrum ducimus!</marquee>



            <marquee scrollamount="20" direction="right" behavior="alternate">L  <img src="/assets/images/7.gif" width="300"></marquee>


            <i class="fa-solid fa-user" style="font-size: 123px;"></i>
            <i class="fa-solid fa-cat"></i>



            <iframe src="https://internship.codescaler.com/" width="600" height="400">

            </iframe>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/Onb6_bRJ0Bw?si=lotTXe4cxSVJtIWQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>


</body>
</html>