<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form method="post" id="loginForm">

        <input type="text" value="vijay" name="user1" disabled>        <label for="username">username</label>
        <input type="text" maxlength="8" minlength="4" autofocus autocomplete="new-name" name="username" id="username" placeholder="enter username" dirname="username.dir"><br><br>
        <label for="password">password</label>
        <input type="password"  name="password" autocomplete="new-password" id="password" placeholder="enter password"><br><br>

        <input type="text"  maxlength="6" name="" id="">

        <input type="number" step="3">

        <button type="submit" >Login</button>


    </form>

    <center>
        <form action="">
            <table width="50%" bgcolor="cyan">
                <tr>
                    <td><label for="fname">First Name</label></td>
                    <td><input type="text"> <span>Max lenght</span></td>
               
                </tr>
                <tr>
                    <td><label for="fname">First Name</label></td>
                    <td><input type="text"> <span>Max lenght</span></td>
               
                </tr>
                <tr>
                    <td><label for="fname">First Name</label></td>
                    <td><input type="text"> <span>Max lenght</span></td>
               
                </tr>
                <tr>
                    <td><label for="fname">Last Name</label></td>
                    <td><input type="text"> <span>Max lenght</span></td>
               
                </tr>
                <tr>
                    <td><label for="fname">Father Name</label></td>
                    <td><input type="text"> <span>Max lenght</span></td>
               
                </tr>
                <tr>
                    <td><label for="fname">Mother Name</label></td>
                    <td><input type="text"> <span>Max lenght</span></td>
               
                </tr>
            </table>
        </form>
    </center>
   
    


    http://127.0.0.1:5501/view/table.html?username=sdfsdsa&username.dir=ltr&password=sfsfs
</body>
</html>