<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table border="2" width="40%" bordercolor="green" cellspacing="0" cellpadding="10">
        <tr>
            <td>1001</td>
            <td>Ravi</td>
            <td>32</td>
            <td>Jind</td>
            <td>80%</td>
        </tr>
        <thead>
            <tr bgcolor="lightblue">    
                <th colspan="5">Studnet table</th>
            </tr>
            <tr>
                <th>Roll No</th>
                <th>Name</th>
                <th>Age</th>
                <th>City</th>
                <th>Marks</th>
            </tr>
        </thead>
<tbody>
    <tr>
        <td>1002</td>
        <td>Vijay</td>
        <td rowspan="4" colspan="2" bgcolor="lightgreen">32<br>Jind 
            
        </td>
    
        <td>80%</td>
    </tr>
    <tr>
        <td>1002</td>
        <td>Vijay</td>
   

        <td>80%</td>
    </tr>
    <tr>
        <td>1002</td>
        <td>Vijay</td>

     
        <td>80%</td>
    </tr>
    <tr>
        <td>1002</td>
        <td>Vijay</td>


        <td>80%</td>
    </tr>
    <tr>
        <td>1002</td>
        <td>Vijay</td>
        <td>32</td>
        <td>Jind</td>
        <td>80%</td>
    </tr>
    <tr>
        <td>1002</td>
        <td>Vijay</td>
        <td>32</td>
        <td>Jind</td>
        <td>80%</td>
    </tr>
    <tr>
        <td>1002</td>
        <td>Vijay</td>
        <td>32</td>
        <td>Jind</td>
        <td>80%</td>
    </tr>
    <tr>
        <td>1002</td>
        <td>Vijay</td>
        <td>32</td>
        <td>Jind</td>
        <td>80%</td>
    </tr>

</tbody>
<tfoot>
    <tr>
        <td colspan="5">Total Students: 9</td>
    </tr>
</tfoot>


    </table>
</body>

</html>